{% assign blog = section.settings.new-blog %}

{% unless blog.articles_count == 0 %}
<div class="featured-image-container">
  <img src="{{ product.featured_image | img_url: 'large' }}" alt="{{ product.title }}">
  <div class="image-caption">
    <p>{{ product.featured_image.alt }}</p>
    <p>{{ product.featured_image.caption }}</p>
  </div>
</div>

  <div class="blog-images">
    {% for article in blog.articles limit: section.settings.liquid-range %}
      <div class="blog-image">
        <a href="{{ article.url }}">
          <img src="{{ article.image | img_url: "800x" }}" alt="{{ article.title }}" /> <!-- Increased image size for better quality -->
        </a>
        <div class="blog-caption">
          <a href="{{ article.url }}">{{ article.title }}</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endunless %}

{% schema %}
{
  "name": "New Blog Posts",
  "settings": [
    {
      "id": "liquid-range",
      "type": "range",
      "label": "Range",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
    },
    {
      "id": "new-blog",
      "type": "blog",
      "label": "Blog"
    }
  ],
  "presets": [
    {
      "name": "New Blog Posts",
      "category": "Posts"
    }
  ]
}
{% endschema %}
