{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "contain": true,
  "cellAlign": "left",
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25},
  "wrapAround": true,
  "adaptiveHeight": true,
  "autoPlay": true
}
{%- endcapture -%}

<div class="featured-collection-slider page-width">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}
 
  {%- assign collection = collections[section.settings.collection] -%}
  {%- assign product_limit = section.settings.product_count -%}
 
  <div class="products-carousel js-flickity" data-flickity='{{ flickity_options }}'>
    <div class="carousel-cell">
      {% for product in collection.products limit: product_limit %}
        <a href="{{ product.url | within: collection }}">
          <img class="img-explore portrait-image" src="{{ product.featured_image | img_url: 'compact'}}" alt="{{ product.title }}">
          <h4>{{ product.title }}</h4>
          <p>{{ product.price | money }}</p>
        </a>
      {% endfor %}
    </div>  
  </div>
</div>

{% schema %}
{
  "name": "Collection Slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured Collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "product_count",
      "min": 4,
      "max": 12,
      "label": "Number of products to display",
      "default": 4
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Collection Slider",
      "settings": {}
    }
  ]
}
{% endschema %}
