{% comment %}
  * Make sure you have the Flickity plugin installed and the proper license for this to function on your store
  * Plugin, licensing, and documentation at https://flickity.metafizzy.co/
{% endcomment %}

{% assign collection_main = collections[section.settings.collection_main] %}
{% assign collection_limit = section.settings.collection_limit %}
{% assign cell_align = section.settings.cell_align %}
{% assign wrap_around = section.settings.wrap_around %}
{% assign img_width = section.settings.img_width | append: 'x' %}

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<div class="flickity-section-{{ section.id }} flickity-index-slider collection" style="background-color: {{ section.settings.bg }}">
  <div class="page-width">
    <h2 class="text-center mb-4">{{ section.settings.title }}</h2>
    <div class="carousel-wrapper">
      <div class="carousel flickity-section__carousel" data-flickity='{
        "cellAlign": "{{ cell_align }}",
        "pageDots": true,
        "freeScroll": true,
        "contain": true,
        "wrapAround": {{ wrap_around }}
      }'>
        {% for product in collection_main.products limit: collection_limit %}
          {%- if product.metafields.inventory.ShappifyHidden == 'true' -%}{%- continue -%}{%- endif -%}
          {% assign first_variant = product.selected_or_first_available_variant %}
          {% assign featured_img_src = first_variant.featured_img.src | default: product.featured_image.src %}
          {% assign price = first_variant.price %}
          {% assign compare_at_price = first_variant.compare_at_price %}
          <div class="carousel-cell">
            <a href="{{ product.url }}">
              <img class="product-image" src="{{ featured_img_src | img_url: img_width }}" alt="{{ product.featured_img.alt }}" />
            </a>
            <a href="{{ product.url }}">
              <h3 class="product-title">{{ product.title }}</h3>
            </a>
            <p class="product-price">
              {% if compare_at_price > price %}
                <s class="product-compare-at-price">{{ compare_at_price | money }}</s>
              {% endif %}
              {{ price | money }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Slider",
  "settings": [
    {
      "type": "collection",
      "id": "collection_main",
      "label": "Choose a Collection"
    },
    {
      "type": "range",
      "id": "collection_limit",
      "min": 2,
      "max": 50,
      "step": 1,
      "unit": ".",
      "label": "How many products to show",
      "default": 4
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured Collection Slider"
    },
    {
      "type": "range",
      "id": "img_width",
      "min": 200,
      "max": 600,
      "step": 5,
      "unit": "px",
      "label": "Image Width",
      "default": 200
    },
    {
      "type": "select",
      "id": "cell_align",
      "label": "Slide Alignment",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "center"
    },
    {
      "type": "radio",
      "id": "wrap_around",
      "label": "Enable Wrap Around",
      "options": [
        {
          "value": "true",
          "label": "Yes"
        },
        {
          "value": "false",
          "label": "No"
        }
      ],
      "default": "true"
    }
  ],
  "presets": [
    {
      "name": "Collection Slider",
      "category": "Slider"
    }
  ]
}
{% endschema %}
