{% assign blog = section.settings.new-blog %}

{% unless blog.articles_count == 0 %}
  <style>
    .blog-images {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      max-width: 100%;
    }
    .blog-image {
      width: 30%; /* Adjust as needed */
      border-radius: 15px;
      margin-bottom: 20px;
    }
    .blog-image img {
      width: 100%;
      height: auto;
      border-radius: 15px;
    }
  </style>
  <div class="blog-images">
    {% for article in blog.articles limit: section.settings.liquid-range %}
      <div class="blog-image">
        <a href="{{ article.url }}">
          <img src="{{ article.image | img_url: "300x" }}" alt="{{ article.title }}" />
        </a>
        <div class="blog-caption">
          <a href="{{ article.url }}">{{ article.title }}</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endunless %}

{% schema %}
{
  "name": "New Blog Posts",
  "settings": [
    {
      "id": "liquid-range",
      "type": "range",
      "label": "Range",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
    },
    {
      "id": "new-blog",
      "type": "blog",
      "label": "Blog"
    }
  ],
  "presets": [
    {
      "name": "New Blog Posts",
      "category": "Posts"
    }
  ]
}
{% endschema %}
