<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <!-- Include the slick CSS directly from the CDN -->
  <style>
    /* Add any custom styles here */
    .slick-slide {
      margin: 0 10px;
    }
  </style>
</head>

<body>

  <div class="blog-images">
    {% for article in blog.articles limit: section.settings.liquid-range %}
      <div class="blog-image">
        <a href="{{ article.url }}">
          <img src="{{ article.image | img_url: "400x" }}" alt="{{ article.title }}" />
        </a>
        <div class="blog-caption">
          <a href="{{ article.url }}">{{ article.title }}</a>
        </div>
      </div>
    {% endfor %}
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Make sure to use a stable version of jQuery -->
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <script>
    $(document).ready(function() {
      $('.blog-images').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
    });
  </script>
</body>

</html>

{% schema %}
{
  "name": "Slick Collection Slider",
  "settings": [{
    "type": "collection",
    "id": "collection_main",
    "label": "Choose a Collection"
  }],
  "presets": [
    {
      "name": "Slick Collection Slider",
      "category": "collection"
    }
  ]
}
{% endschema %}
